.input-field {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
}

.input-field label {
    font-size: 10px;
    color: gray;
    margin-bottom: 4px;
}

.input-field input::placeholder {
    font-size: 10px;
    color: gray;
    font-style: italic;
}

.blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    z-index: 1000;
    background-color: rgba(0,0,0, .5);
}

.notifier-wrapper {
    width: 200px;
    padding: 24px;

    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    background-color: #fff;
    box-shadow: 0 2px 6px -4px rgba(0,0,0, .6);
    border-radius: 16px;

    z-index: 1001;
}