.input-field {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
}

.input-field label {
    font-size: 10px;
    color: gray;
    margin-bottom: 4px;
}

.input-field input::placeholder {
    font-size: 10px;
    color: gray;
    font-style: italic;
}