* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    margin: 0;
}

body {
    height: 100vh;
    background: rgba(229,92,138,1);
    background: linear-gradient(135deg, rgba(240,99,147,1) 50%, rgba(229,92,138,1) 50%);
}

.root-container {
    color: white;
    margin: 8px auto;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    align-items: flex-start;
    overflow: hidden;

    background: rgb(60,66,74);
    background: linear-gradient(315deg, rgba(60,66,74,1) 50%, rgba(62,68,77,1) 50%);
    width: 270px;
    height: 84vh;
}

h3 {
    margin: 0 auto;
}